.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #FFDCFC;
  
}

.BG{
  background-color: rgb(236, 191, 191);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main{
  border-color:darkgray;
  border-style: double;
  width: 600px;
  padding: 5px;
  background-color: rgb(255, 223, 223);
}
.space{
  padding: 10px;
}
.main2{
  border-color:darkgray;
  border-style: double;
  width: 600px;
  padding: 5px;
  background-color: rgb(99, 35, 35);
}

.Title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}


.font{
  color: grey;
  font-size: 10px;
}

.select{
  background-color: rgb(255, 223, 223);
  border-top-color: rgb(255, 223, 223);
  border-left-color: rgb(255, 223, 223);
  border-right-color: rgb(255, 223, 223);
  height: 30px;
  font-size: medium;
  margin-top: 3%;
  margin-right: 1%;
}

.se{
  margin-top: 5%;
  margin-left: 2.5%;
}
.sel{
  margin-top: 5%;
  margin-left: 1.5%;
}

.nation{
  margin-top: 5%;
  margin-left: 20%;
}

.criti{
  margin-top: 6%;
  margin-right: 2%;
  margin-left: 1.5%;
}

.gen{
  margin-right: 5%;
  margin-left: 1.5%;
  margin-top: 1%;
  font-size: medium;
}